body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

button {
  background-color: rgb(205, 215, 231);
  margin: 4px 4px;
  vertical-align: top;
  font-size: 10px;
}

label {
  color: #6b778c;
  font-size: 12px;
  padding: 0 4px;
}

.title {
  font-size: 26px;
  border-bottom: 2px solid rgb(174, 96, 96);
  margin:5px auto;
}

.message {
  background: rgb(235, 230, 230);
  font-size: 16px;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.info {
  color: green;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

.blog {
  border-top: 1px solid #ccc;
  padding: 5px;
}

.table {
  display: table;
  margin: 10px 5px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 4px;
}

.header-row {
  display: table-caption;
  font-weight: bold;
  background-color: #eee;
}

.b-1 {
  border: 1px solid #ccc;
}

.footer-row {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  padding: 5px;
}